@font-face {
    font-family: 'Muli';
    src: url('Muli-ExtraLight.eot');
    src: url('Muli-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Muli-ExtraLight.woff2') format('woff2'),
        url('Muli-ExtraLight.woff') format('woff'),
        url('Muli-ExtraLight.ttf') format('truetype'),
        url('Muli-ExtraLight.svg#Muli-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-ExtraLightItalic.eot');
    src: url('Muli-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Muli-ExtraLightItalic.woff2') format('woff2'),
        url('Muli-ExtraLightItalic.woff') format('woff'),
        url('Muli-ExtraLightItalic.ttf') format('truetype'),
        url('Muli-ExtraLightItalic.svg#Muli-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-Light.eot');
    src: url('Muli-Light.eot?#iefix') format('embedded-opentype'),
        url('Muli-Light.woff2') format('woff2'),
        url('Muli-Light.woff') format('woff'),
        url('Muli-Light.ttf') format('truetype'),
        url('Muli-Light.svg#Muli-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-LightItalic.eot');
    src: url('Muli-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Muli-LightItalic.woff2') format('woff2'),
        url('Muli-LightItalic.woff') format('woff'),
        url('Muli-LightItalic.ttf') format('truetype'),
        url('Muli-LightItalic.svg#Muli-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-Regular.eot');
    src: url('Muli-Regular.eot?#iefix') format('embedded-opentype'),
        url('Muli-Regular.woff2') format('woff2'),
        url('Muli-Regular.woff') format('woff'),
        url('Muli-Regular.ttf') format('truetype'),
        url('Muli-Regular.svg#Muli-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Muli';
    src: url('Muli-Italic.eot');
    src: url('Muli-Italic.eot?#iefix') format('embedded-opentype'),
        url('Muli-Italic.woff2') format('woff2'),
        url('Muli-Italic.woff') format('woff'),
        url('Muli-Italic.ttf') format('truetype'),
        url('Muli-Italic.svg#Muli-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Muli';
    src: url('Muli-SemiBold.eot');
    src: url('Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Muli-SemiBold.woff2') format('woff2'),
        url('Muli-SemiBold.woff') format('woff'),
        url('Muli-SemiBold.ttf') format('truetype'),
        url('Muli-SemiBold.svg#Muli-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-SemiBoldItalic.eot');
    src: url('Muli-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Muli-SemiBoldItalic.woff2') format('woff2'),
        url('Muli-SemiBoldItalic.woff') format('woff'),
        url('Muli-SemiBoldItalic.ttf') format('truetype'),
        url('Muli-SemiBoldItalic.svg#Muli-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-Bold.eot');
    src: url('Muli-Bold.eot?#iefix') format('embedded-opentype'),
        url('Muli-Bold.woff2') format('woff2'),
        url('Muli-Bold.woff') format('woff'),
        url('Muli-Bold.ttf') format('truetype'),
        url('Muli-Bold.svg#Muli-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-BoldItalic.eot');
    src: url('Muli-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Muli-BoldItalic.woff2') format('woff2'),
        url('Muli-BoldItalic.woff') format('woff'),
        url('Muli-BoldItalic.ttf') format('truetype'),
        url('Muli-BoldItalic.svg#Muli-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Muli';
    src: url('Muli-ExtraBold.eot');
    src: url('Muli-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Muli-ExtraBold.woff2') format('woff2'),
        url('Muli-ExtraBold.woff') format('woff'),
        url('Muli-ExtraBold.ttf') format('truetype'),
        url('Muli-ExtraBold.svg#Muli-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-ExtraBoldItalic.eot');
    src: url('Muli-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Muli-ExtraBoldItalic.woff2') format('woff2'),
        url('Muli-ExtraBoldItalic.woff') format('woff'),
        url('Muli-ExtraBoldItalic.ttf') format('truetype'),
        url('Muli-ExtraBoldItalic.svg#Muli-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}



@font-face {
    font-family: 'Muli';
    src: url('Muli-Black.eot');
    src: url('Muli-Black.eot?#iefix') format('embedded-opentype'),
        url('Muli-Black.woff2') format('woff2'),
        url('Muli-Black.woff') format('woff'),
        url('Muli-Black.ttf') format('truetype'),
        url('Muli-Black.svg#Muli-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-BlackItalic.eot');
    src: url('Muli-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Muli-BlackItalic.woff2') format('woff2'),
        url('Muli-BlackItalic.woff') format('woff'),
        url('Muli-BlackItalic.ttf') format('truetype'),
        url('Muli-BlackItalic.svg#Muli-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}















