/* style présentation wireframe */

body{
    font-family: "ibm-plex-sans";
    width: 80vw;
    margin: 0 auto;
    --color-1: blueviolet;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
}
.svg{
    max-width: 90%;
}

h1{
    font-size: 40px;
    color: var(--color-1);
    text-transform: uppercase;
}

p, li{
    font-size: 20px;
    line-height: 1.3;
}

strong{ font-weight: bold; }

h2{
    color: var(--color-1);
    font-size: 24px;
    margin-top: 80px;
    border-bottom: solid 2px  var(--color-1);
}

h3{
    margin-top: 50px;
}

.sous-titre{
    color: var(--color-1);
    font-size: 24px;
    margin-top: -20px;
    margin-bottom: 60px;
}
section h1{
    margin-top: 70px;
    font-size: 30px;
    border-bottom: double 8px  var(--color-1);

}

section{ padding-top: 60px; }

table{ border-collapse: collapse;}

th, td {
    padding: 10px 10px;
    border-bottom: 1px solid black;
    text-align: left;
}
thead th{ 
    vertical-align: bottom; 
    font-size: 10px;
    border-bottom: 3px double black;
}
td{ vertical-align: middle; }
.responsive, .diffusion, .parametrique, .demande, .assemblage{ max-width: 70px;}



.icons{
    display: inline-block;
    width: 50px;
}

.icon-ebook{ width: 60px; }
.icon-smartwatch{ width: 40px; }

.icon-responsive{ width: 40px; }
.icon-pardefaut{ width: 38px; }
.icon-parameters, .icon-on-demand, .icon-assemblage {
    width: 30px;
}





#site-web{ max-width: 100%;  }
#social-media{ max-width: 50%;}
#epub-fixe{ max-width: 80%;  }
/* #epub-fixe-BD{ max-width: 100%;
} */
#epub-reflowable{ max-width: 60%;  }
#poster-anime_epub-genere{ max-width: 60%;  }
#pdf-archive{ max-width: 60%;  }
#pdf-bureautique{ max-width: 60%;  }
#projection{ max-width: 60%;  }


.declinaison aside p:before{
    content:"▲ ";
}

img{
    max-width: 100%;
}

@media screen and (min-width: 800px){
    #img-social-media, #sms, #reflowable-poster, #reflowable-bd{
        width: 50%;
    }
}

@media screen and (min-width: 1460px){
    .logiciel-lecture{ padding: 0 30px;}
}

.icon-inline{
    display: inline-block;
    width: 20px;
}